[Unit]
Description=Automount USB Storage (%i)
After=dev-%i.device
Requires=dev-%i.device

[Service]
ExecStart=/usr/local/bin/media-automount /dev/%i
Type=oneshot
RemainAfterExit=yes
Restart=no
User=root

[Install]
WantedBy=multi-user.target
