[Unit]
Description=Automount USB Storage (%I)
After=systemd-udevd.service
Requires=systemd-udevd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/media-automount.sh /dev/%I
ExecStop=/bin/umount /media/RAW

[Install]
WantedBy=multi-user.target
